body{
    background-image: url("./images/image-bosque.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html,body{
    height: 100%;
}


.card {
    border: 2px solid #fabada;
    border-radius: 8px;
    padding:10px;
    background-color: sandybrown;
    color:aquamarine;
    margin-bottom: 2px;
    display: inline-block;
    background-image: url("https://w7.pngwing.com/pngs/576/412/png-transparent-seaside-sugar-real-starfish-sandy-beach-sand.png")!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__one{
    padding: 70px;
}

job {
    background-color: white;
}