html, body{
    height: 3000px;
}

.box {
    border: 1px solid black;
    height: 300px;
}
.hijo{
    height: 50px;
    width: 50px;
    border:3px solid #fabada;
    font-size: 28px;
    text-align: center;
}

.hijo3 {
    left: 20px;
    position: relative;
}

.nav{
    position:fixed;
    width: 100%;
    top: 10px;
    background:red;
}