.tag-group{
    margin: 20px;
}

.tag{
    border: 1px solid black;
    border-radius: 8px;
    background:aquamarine;
    margin-right: 20px;
}
.logo-img{
    width:60px;

}

.logo-twitter{
    border-radius: 6px;
}