body{
    background-color: white;
}

.nav {
    color: gold;
    background-color: rgb(14, 111, 202);
    border-color: green;
    border-width: 5px;
    border-style: dashed;
}

.header{
    background-color: rgba(94, 179, 87, 0.9); /* color con transparencia*/
    color: #FABADA;
    border:2px solid black;

}

.main, .article ,.footer ,.section{
    border-style: solid;
}

.main {
    margin-bottom: 20px;
}

.article{
    border-color: magenta;
}

.section{
    border-color: gold;
    padding: 20px;
}

div{
    background-color: cadetblue;
    border: 2px solid;
    display: inline;
}